* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Navbar */
.navbar {
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #000;
    overflow: hidden;
}

.navbar a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-family: "Avant Garde", Helvetica, sans-serif;
    font-size: 20px;
    float: left;
}

.navbar a:hover {
    background-color: #f4f4f4;
    color: #000;
    font-weight: bold;
}

.navbar a.active {
    background-color: #a9a9a9;
}

/* Video */
#typing_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1; /* for text to go over */
}

.video_text {
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 100%;
    padding: 20px;
    margin-top: 23%;
}

.video_text h1 {
color: #fff;
}

.video_text h1:hover {
    color: #fff;
    font-weight: normal;
    }

.video_text p {
    text-align: center;
}

.quote:hover {
    color: #fff;
	transition: transform 2s;
	transform: scale(1.1);
}

q {
    font-style: italic;
    font-weight: bold;
}

/* About */
.column_1,
.column_2,
.column_3 {
    float: left;
    width: 50%;
    padding: 10px;
}

.column_1 {
    padding-top: 3%;
    height: 400px;
    background-color: #f2f2f2;

}

.column_2 {
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;

}

.column_3 {
    padding-top: 3.5%;
    height: 450px;
    background-color: #4d4d4d;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

p {
    text-align: justify;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover,
h3:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}

h3 {
    text-align: center;
    font-weight: normal;
    letter-spacing: .6px;
    font-size: 18px;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    color: #000;
    font-weight: normal;
}

a {
    color: #00f;
}

center {
    text-align: center;
    letter-spacing: 1px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* Contact Form */
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: "Trebuchet MS", Optima;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family:  "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input[type=submit] {
   color: #fff;
   background-color: #000;
   font-weight: bold;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-family:  "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
   display: block;
   margin: 0 auto;
}

input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transform: scale(1.5);
    transition: transform 1.5s;
}

footer {
    padding: 2%;
    background-color: #fff;
}

