* {
    box-sizing: border-box;
}

html {
    background-color: black;
    scroll-behavior: smooth; 
}

body {
    margin: 0%;
    opacity: 1s;
    transition: 3s opacity;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5vw;
}

body.fade-out {
    opacity: .1;
    transition: none;
}

/* Navbar */
.navbar {
    top: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: #000;
    overflow: hidden;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

.navbar a {
    color: #fff;
    text-align: center;
    position: relative;
    text-decoration: none;
    padding: .75vw 1vw;
    font-family: "Avant Garde", Helvetica, sans-serif;
    font-size: 1.5vw;
    float: left;
    display: block;
    -webkit-animation: movenavText 5.75s;
    animation: movenavText 5.75;
    letter-spacing: .2vw;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

.navbar a:hover {
    background-color: #f4f4f4;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.navbar a.active {
    background-color: darkgrey;
}

/* Video */
#typing_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1; /* for text to go over */
    animation: zoominoutsinglefeatured 5s;
}

@keyframes zoominoutsinglefeatured {
    0% { transform: scale(1.5, 1.5) }
    100% { transform: scale(1,1) }
}

.video_text {
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    margin-top: 23%;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
}

@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

.video_text h1 {
color: #fff;
}

.video_text h1:hover {
    color: #fff;
    font-weight: normal;
    }

.video_text p {
    text-align: center;
}

.quote:hover {
    color: #fff;
	transition: transform 2s;
	transform: scale(1.1);
}

q {
    font-style: italic;
    font-weight: bold;
}


.column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 448px;
    background-color: #f2f2f2;

}

.column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 448px;
    background-color: #4d4d4d;

}

/* .column_3 {
    padding-top: 3.5%;
    height: 450px;
    background-color: #4d4d4d;

} */

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

p {
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.5pw;
    padding-left: 1vw;
    padding-right: 1vw;
}

p:hover,
h3:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}

h3 {
    text-align: center;
    font-weight: normal;
    letter-spacing: .6px;
    font-size: 18px;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    color: #000;
    font-weight: normal;
}

a {
    color: #00f;
}

center {
    text-align: center;
    letter-spacing: 1px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}


#slideshow_container {
    width: 39.5vw; /* vw for user screen size ie 39.5% of screensize */
    height: auto;
    padding-top: 6%;
    position: relative;
    margin: auto;
}

#slideshow {
    margin: 10px 0px 0px 10px;
}

.my_slides {
    display: none; /* start out hidden */
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 4}
    to {opacity: 1}
}

.slide_show_images {
    vertical-align: middle;
    width: auto;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,0.75);
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 2vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .25vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active,
.dot:hover {
    background-color: black;
}

/* Contact Form */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;    
}

@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

.form_popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form_container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

.form_container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}

.form_container .btn {
    background-color: white;
    color: black;
    border-color: black;
    /* padding: 5px; */
    margin-bottom: 1vh;
}

.form_container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
    /* padding: 5px; */
    /* margin-bottom: 1vh; */
}

.form_container input[type=text]:focus {
    background-color: darkblue;
    outline: none;
  }

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form_container .btn:hover {
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form_container .cancel:hover{
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}

/* footer */
footer {
    padding: 2%;
    background-color: #fff;
}

